# Logs
*.log

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby / Bundler
vendor/
.bundle/
Gemfile.lock

# Local documentation & notes
docs/

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Unused
node_modules/
dist/
bin/
