<head>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta charset="utf-8" />

  <meta name="description" content="{{ page.description }}" />
  <meta name="author" content="Shivendra Shukla" />
  <meta property="og:site_name" content="Shivendra Shukla" />
  <meta property="og:type" content="website" />
  <meta property="article:tag" content="Shivendra Shukla" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ page.title }} | Shivendra Shukla"/>
  <meta name="twitter:label1" content="Written by" />
  <meta name="twitter:data1" content="Shivendra Shukla" />
  <meta name="twitter:label2" content="Filed under" />
  <meta name="twitter:data2" content="shivendra shukla" />
  
  <title>{{ page.title }} | {{ site.title }}</title>

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  <!-- Import Fonts -->
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;1,400&family=Roboto:wght@400;500;700;900&display=swap"
  />
  <!-- Favicons -->
  {% include favicons.html %}
  <!-- Analytics -->
  {% include analytics.html %}
</head>
